In [1]:
from sklearn.feature_extraction.text import CountVectorizer

In [2]:
corpus = ['This is the first document',
          'This is the second document',
          'Third document. Documnet number three',
          'Number four. To repeat, number four'
         ]

In [4]:
vectorizer = CountVectorizer()
bag_of_words = vectorizer.fit_transform(corpus)

In [5]:
print(bag_of_words)

  (0, 0)	1
  (0, 2)	1
  (0, 8)	1
  (0, 4)	1
  (0, 10)	1
  (1, 7)	1
  (1, 0)	1
  (1, 8)	1
  (1, 4)	1
  (1, 10)	1
  (2, 11)	1
  (2, 5)	1
  (2, 1)	1
  (2, 9)	1
  (2, 0)	1
  (3, 6)	1
  (3, 12)	1
  (3, 3)	2
  (3, 5)	2

In [9]:
vectorizer.vocabulary_.get('document')
vectorizer.vocabulary_

{'document': 0,
 'documnet': 1,
 'first': 2,
 'four': 3,
 'is': 4,
 'number': 5,
 'repeat': 6,
 'second': 7,
 'the': 8,
 'third': 9,
 'this': 10,
 'three': 11,
 'to': 12}

In [15]:
import pandas as pd
pd.DataFrame(bag_of_words.toarray(), columns=vectorizer.get_feature_names())

,document,documnet,first,four,is,number,repeat,second,the,third,this,three,to
0,1,0,1,0,1,0,0,0,1,0,1,0,0
1,1,0,0,0,1,0,0,1,1,0,1,0,0
2,1,1,0,0,0,1,0,0,0,1,0,1,0
3,0,0,0,2,0,2,1,0,0,0,0,0,1

In [19]:
from sklearn.feature_extraction.text import TfidfVectorizer
vectorizer = TfidfVectorizer()
bag_of_words = vectorizer.fit_transform(corpus)
print(bag_of_words)

  (0, 10)	0.43584673255
  (0, 4)	0.43584673255
  (0, 8)	0.43584673255
  (0, 2)	0.552816315109
  (0, 0)	0.352855492979
  (1, 10)	0.43584673255
  (1, 4)	0.43584673255
  (1, 8)	0.43584673255
  (1, 0)	0.352855492979
  (1, 7)	0.552816315109
  (2, 0)	0.317992761408
  (2, 9)	0.498197109271
  (2, 1)	0.498197109271
  (2, 5)	0.392784323304
  (2, 11)	0.498197109271
  (3, 5)	0.541279948942
  (3, 3)	0.686544981228
  (3, 12)	0.343272490614
  (3, 6)	0.343272490614

In [21]:
pd.DataFrame(bag_of_words.toarray(), columns=vectorizer.get_feature_names())

,document,documnet,first,four,is,number,repeat,second,the,third,this,three,to
0,0.352855,0.000000,0.552816,0.000000,0.435847,0.000000,0.000000,0.000000,0.435847,0.000000,0.435847,0.000000,0.000000
1,0.352855,0.000000,0.000000,0.000000,0.435847,0.000000,0.000000,0.552816,0.435847,0.000000,0.435847,0.000000,0.000000
2,0.317993,0.498197,0.000000,0.000000,0.000000,0.392784,0.000000,0.000000,0.000000,0.498197,0.000000,0.498197,0.000000
3,0.000000,0.000000,0.000000,0.686545,0.000000,0.541280,0.343272,0.000000,0.000000,0.000000,0.000000,0.000000,0.343272

In [22]:
from sklearn.feature_extraction.text import HashingVectorizer
vectorizer = HashingVectorizer(n_features=8)
feature_vector = vectorizer.fit_transform(corpus)
print(feature_vector)

  (0, 0)	-0.894427191
  (0, 5)	0.4472135955
  (0, 6)	0.0
  (1, 0)	-0.57735026919
  (1, 3)	0.57735026919
  (1, 5)	0.57735026919
  (1, 6)	0.0
  (2, 0)	-0.4472135955
  (2, 3)	0.4472135955
  (2, 4)	0.4472135955
  (2, 5)	0.4472135955
  (2, 7)	0.4472135955
  (3, 0)	0.316227766017
  (3, 3)	0.316227766017
  (3, 5)	0.632455532034
  (3, 7)	0.632455532034